*{
    margin: 0;
    padding: 0;
}

body {
    justify-content: center;
    text-align: center;
}

.container
{   height: 600px;
    width: 350px;
    border: 7px solid black;
    background-color: papayawhip;
    margin-left: 30%;
    margin-top: 2rem;
}

.screen {
    width: 350px;
    text-align: left;
    font-size: 40px;
    color: white;
    text-align: right;
    border-bottom:  solid;  
    background-color: black;  
}

.col{
    height: 60px;
    width: 60px;
    cursor: pointer;
    background-color: chocolate;
    color: black;
    font-size: 40px;
    text-align: center;
    margin-left: 20px;
    margin-top: 25px;
    margin-bottom: 25px;

  
}

.col:hover {
    background-color:#bbbcbe ;
}


.col:active
{
    background-color: #ebebeb;
}


.col:last-child {
    background-color: #df974c;
    color: white;
}
.col:last-child:hover {
    background-color: #6b5c07;
}

.col:last-child:active
{
    background-color: #dfb07e;
}

.row {
    /* display: flex; */
    margin-right: 0.7rem;
    
}

.double {
    width: 120px;
    font-size: 3rem;
}









